{% extends is_hybrid|yesno:"hybridize/base.html,scout/app.html" %}
{% load staticfiles %}
<script async="async" src="{% static "scout/js/filter.js" %}"></script>

{% block title %}Filter{% endblock %}

{% block web_content %}
<h2>Filter</h2>

{% include "scout/include/filter.html" %}

{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}


{% block hybrid_content %}

<div class="content-block-title">Campus</div>
<div id="campus_select" class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="seattle" value="seattle" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Seattle</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="bothell" value="bothell">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Bothell</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="tacoma" value="tacoma">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Tacoma</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="south_lake_union" value="south_lake_union">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">South Lake Union</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Hours / Open for:</div>
<div class="list-block" id="period_select">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="breakfast" value="breakfast" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Breakfast</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="lunch" value="lunch">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Lunch</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="dinner" value="dinner">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Dinner</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="late_night" value="late_night">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Late Night</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Payment accepted:</div>
<div class="list-block" id="payment_select">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_pay_cash" value="s_pay_cash" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Cash</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_pay_husky" value="s_pay_husky">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Husky Card</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_pay_dining" value="s_pay_dining">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Dining Card</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_pay_visa" value="s_pay_visa">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Visa</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_pay_mastercard" value="s_pay_mastercard">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Mastercard</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Restaurant type</div>
<div class="list-block" id="type_select">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="cafe" value="cafe" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Cafes</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="fine_dining" value="fine_dining">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Fine Dining</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="food_court" value="food_court">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Food Court</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="food_truck" value="food_truck">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Food Truck</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="market" value="market">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Market</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Food served</div>
<div class="list-block" id="food_select">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_food_pizza" value="s_food_pizza" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Pizza</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_food_burgers" value="s_food_burgers">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Burgers</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_food_salads" value="s_food_salads">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Salads</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_food_espresso" value="s_food_espresso">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Coffee/Espresso</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_food_sandwiches" value="s_food_sandwiches">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Sandwiches</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_food_appetizers" value="s_food_appetizers">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Appetizers</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_food_entrees" value="s_food_entrees">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Entrees</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_food_pasta" value="s_food_pasta">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Pasta</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_food_smoothies" value="s_food_smoothies">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Smoothies</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_food_sushi" value="s_food_sushi">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Sushi</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_food_tacos" value="s_food_tacos">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Tacos</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Cuisine</div>
<div class="list-block" id="cuisine_select">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_cuisine_american" value="s_cuisine_american" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">American</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_cuisine_bbq" value="s_cuisine_bbq">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">BBQ</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_cuisine_chinese" value="s_cuisine_chinese">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Chinese</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_cuisine_indian" value="s_cuisine_indian">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Indian</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_cuisine_italian" value="s_cuisine_italian">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Italian</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_cuisine_japanese" value="s_cuisine_japanese">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Japanese</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_cuisine_korean" value="s_cuisine_korean">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Korean</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_cuisine_mexican" value="s_cuisine_mexican">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Mexican</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_cuisine_vietnamese" value="s_cuisine_vietnamese">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Vietnamese</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="s_cuisine_light_lunch" value="s_cuisine_light_lunch">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Light Lunch</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block">
	<div class="content-block-inner">
		<button class="link" id="reset_filter">Reset filters</button>
	</div>
</div>

{% endblock %}
